* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E5E7E7;
}

.nav {
  background-color: blue;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 50px;
  transition: top 100ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
}

.box {
  padding: 40px 40px;
  transition: margin 100ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  /* background-color: blueviolet; */
}

#toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

#toggle+label {
  position: absolute;
  cursor: pointer;
  background-color: #BD3147;
  width: 100px;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 10px;
  font-weight: 500;
  color: white;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  /* отступ кнопки от края экрана */
  margin: 0px 40px;
}

#toggle+label:after {
  content: "open"
}

#toggle:checked~.nav {
  top: 0;
}

#toggle:checked~.box {
  margin-top: 50px;
}

#toggle:checked+label {
  background-color: #BD3147;
}

#toggle:checked+label:after {
  content: "close"
}

.nav-list {
  background-color: #BD3147;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: top;
  margin-block-start: 0px;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}

.nav-item {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 10px;
  line-height: 50px;
}

.nav a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
}

.nav a:hover {
text-decoration: overline;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  max-width: 1440px;
  flex-wrap: wrap;
}

section h1 {
  padding: 10px 0px;
  font-family: Oswald;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.junior {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -22px;
  letter-spacing: 5px;
}

section h2 {
  color: #BD3147;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 0px 0px 0px;
}

section ul,
div,
p {
  list-style: none;
}

section img {
  width: 50px;
  }

footer img {
  margin-top: 15px;
}

footer .foo-ul {
  background-color: #043442;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-inline-start: 30px;
  line-height: 50px;
}

footer .foo-li {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 10px;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
}

footer a:hover {
text-decoration: overline;
}

footer img a:hover {
  text-decoration: none;
  }

/* footer img {
  width: 121px;
  height: 121px;
} */